<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team2.householdledger.ledger.mapper.LedgerMapper">

    <!-- 
        [TIP] SQL 작성 시 'River Style' 준수 필수
        SELECT 컬럼 정렬, 콤마(,) 앞쪽 배치, FROM/WHERE 절 들여쓰기 참고
    -->

    <select id="selectLedgerList" resultType="LedgerDTO">
        <!-- TODO: fn_get_comm_nm(comm_cd) 사용해서 카테고리명 가져오기 --> SELECT ledger_no , user_no , comm_cd ,
        amount , trans_dt , memo , status_cd , fn_get_comm_nm(comm_cd) AS categoryNm FROM ledgers WHERE
        user_no = #{userNo} AND status_cd = 'Y' ORDER BY trans_dt DESC, ledger_no DESC </select>

    <insert id="insertLedger" useGeneratedKeys="true" keyProperty="ledgerNo"> INSERT INTO ledgers (
        user_no , comm_cd , amount , trans_dt , memo , status_cd ) VALUES ( #{userNo} , #{commCd} ,
        #{amount} , #{transDt} , #{memo} , 'Y' ) </insert>

    <update id="updateLedger"> UPDATE ledgers SET comm_cd = #{commCd} , amount = #{amount} ,
        trans_dt = #{transDt} , memo = #{memo} WHERE ledger_no = #{ledgerNo} AND user_no = #{userNo} </update>

    <update id="deleteLedger"> UPDATE ledgers SET status_cd = 'N' WHERE ledger_no = #{ledgerNo} </update>

</mapper>